language = "c"
run = "gcc -o hello /home/runner/project2/src/hello.c"
modules = ["c-clang14"]

[deployment]
run = "gcc -o labrabota3-1 /home/runner/lab2-task1-gr10-Mikulich/src/main.c && ./labrabota3-1"


[nix]
channel = "stable-24_05"
